/* NavBar.css */
.navbar {
  background-color: #00356b; /* Yale blue */
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}
